.trivia{
    &__container{
        width: 90%;
        max-width: $limit-width;
        margin: auto;
        padding-top: 60px;
        padding-bottom: 100px;
        @include flex;
        flex-direction: column;
    }
    &__block{
        max-width: 650px;
        text-align: center;
        h6{
            color: color('green');
            margin-bottom: 10px;
        }
        p{
            font-weight: 600;
            color: color('green-dark');
            padding: 0 30px;
        }
    }
    &__progress{
        width: 100%;
        position: relative;
        height: 10px;
        background-color: color('primary');
        border-radius: 100px;
        margin: 40px 0;
        @include flex;
        div,
        img{
            position: absolute;
        }
        img{
            width: 60px;
            z-index: 9;
            right: -15px;
            top: calc(50% - 30px);
        }
        div{
            width: 100%;
            height: 100%;
            background-color: color('orange');
            border-radius: 100px;
            left: 0;
            transition: .3 linear width;
        }
    }
    form{
        max-width: 380px;
        position: relative;
        input{
            display: none;
        }
        label{
            width: 100%;
            padding: 10px 20px;
            background-color: color('primary');
            border-radius: 8px;
            color: color('green');
            font-size: 2rem;
            text-align: center;
            font-weight: 500;
            transition: .3s ease;
            transition-property: color, background-color;
            &.active{
                background-color: color('green');
                color: color('primary');
            }
            &:hover{
                background-color: color('green');
                color: color('primary');
            }
        }
        button{
            margin-top: 20px;
            position: relative;
            span{
                position: absolute;
                width: fit-content;
                background-color: color('danger');
                color: color('primary');     
                font-size: 1.1rem;  
                padding: 5px;
                border-radius: 5px;
                bottom: -20px;
                opacity: 0;
                pointer-events: none;
                transition: .3s opacity ease;
            }
            &.invalid{
                span{
                    opacity: 1;
                }
            }
        }
    }
    &__questions{
        @include flex;
        flex-direction: column;
        gap: 20px;
        opacity: 0;
        position: absolute;
        transition: .5s all ease;
        pointer-events: none;
        &.active{
            position: relative;
            opacity: 1;
            pointer-events: all;
        }
    }
}

@media(max-width: breakpoint('portatil')){
    .trivia{
        form{
            label{
                font-size: 1.8rem;
            }
        }
    }
}

@media(max-width: breakpoint('ipad-grande')){
    .trivia{
        &__container{
            padding-top: 10px;
        }
        &__block{
            p{
                padding: 0 10px;
            }
        }
        form{
            label{
                font-size: 1.6rem;
            }
        }
    }
}