.aos-custom{
    opacity: 0;
    &-fade-up{
        opacity: 0;
        transform: translateY(40px);
        transition: 1s ease;
        transition-property: opacity, transform;
    }
    &-fade-left{
        transform: translateX(-100px);
        transition: 1s ease;
        transition-property: opacity, transform;
    }
    &-fade-right{
        transform: translateX(100px);
        transition: 1s ease;
        transition-property: opacity, transform;
    }
    &-scale{
        transform: scale(0);
        transition: 1s ease transform;
    }
    &-scaleX,
    &-scaleXreverse{
        transform: scale(0);
        position: relative;
        transition: 1s ease all;
    }
    &-scaleX{
        left: -150px;
    }
    &-scaleXreverse{
        right: -150px;
    }
    &-rotate{
        transform: scale(.5);
        opacity: 0;
        transition: 1s ease all;
    }
    &.aos-animate{
        opacity: 1;
    }
}