.container{
    &-yellow{
        background: linear-gradient(to bottom, color('yellow') 45%, color('orange'));
    }
    &-principal{
        padding-top: 90px;
    }
    &-hidden{
        overflow: hidden;
    }
}
@media(max-width: breakpoint('ipad-grande')){
    .container{
        &-principal{
            padding-top: 95px;
        }
    }
}