.home-banner.aos-animate{
    .home-banner__item.block-title{
        transition-delay: .3s;
    }
    .button.aos-custom-fade-up{
        transition-delay: .5s;
    }
    .home-banner__item--animation.aos-custom-fade-up{
        transition-delay: .7s;
    }
    .home-polygon__item{
        &:first-child{
            left: -60px;
            img{
                transition-delay: 1s;
            }
        }
        &:nth-child(2){
            img{
                transition-delay: 1s;
            }
        }
        &:last-child{
            img{
                transition-delay: 1.25s;
            }
        }
    }
    .swiper-home{
        .swiper-slide{
            &:first-child{
                transition-delay: .25;
            }
            &:nth-child(2){
                transition-delay: .5s;
            }
            &:last-child{
                transition-delay: .75s;
            }
        }
    }
}

.home-video__animation.aos-animate{
    .block-title{

    }
    .home-video__block{
        &::before{
            width: 100%;
        }
        &:first-child{
            transition-delay: .25s;
            &::before{
                transition-duration: 1s;
            }
        }
        &:nth-child(2){
            transition-delay: .5s;
            &::before{
                transition-duration: 1.5s;
            }
        }
        &:nth-child(3){
            transition-delay: .75s;
            &::before{
                transition-duration: 2s;
            }
        }
        &:nth-child(4){
            transition-delay: 1s;
            &::before{
                transition-duration: 2.5s;
            }
        }
    }
}

@media(max-width: breakpoint('celular')){
    .home-banner.aos-animate{
        .swiper-home{
            .swiper-slide{
                &:first-child{
                    transition-delay: 1.25s;
                }
            }
        }
        .home-banner__item--animation.aos-custom-rotate{
            transition-delay: .85s;
        }
    }
}