.home-banner.aos-animate{
    .home-banner__item.block-title{
        transition-delay: .3s;
    }
    .button.aos-custom-fade-up{
        transition-delay: .5s;
    }
    .home-banner__item--animation.aos-custom-fade-up{
        transition-delay: .7s;
    }
    .home-polygon__item{
        &:first-child{
            left: -60px;
            img{
                transition-delay: 1s;
            }
        }
        &:nth-child(2){
            img{
                transition-delay: 1s;
            }
        }
        &:last-child{
            img{
                transition-delay: 1.25s;
            }
        }
    }
    .swiper-home{
        .swiper-slide{
            &:first-child{
                transition-delay: .25;
            }
            &:nth-child(2){
                transition-delay: .5s;
            }
            &:last-child{
                transition-delay: .75s;
            }
        }
    }
}

@media(max-width: breakpoint('celular')){
    .home-banner.aos-animate{
        .swiper-home{
            .swiper-slide{
                &:first-child{
                    transition-delay: 1.25s;
                }
            }
        }
        .home-banner__item--animation.aos-custom-rotate{
            transition-delay: .85s;
        }
    }
}